Library/PackageCache/com.unity.burst@1.8.19/.Runtime/*.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.19/.Runtime/*.dylib filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.19/.Runtime/*.so filter=lfs diff=lfs merge=lfs -text
